@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}