@media (min-width: 1024px) {
    #menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        background-color: var(--secondary-color);
        padding: 0rem 1rem 1rem 1rem;
        background-color: var(--primary-color);
    }

    .nav-menu a {
        width: 100%;
        text-align: center;
    }

    .title {
        font-size: xx-large;
    }
    
    .contact-info {
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-info h3 {
        grid-column: 1/3;
    }

    #members-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-card {
        text-align: left;
    }

    .member-card img {
        height: 140px;
    }

    .view-buttons {
        justify-content: center;
    }

    .hero img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 6px;
    }

    .join-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
    }

    .join-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.75rem;
    }

    .join-form label:nth-child(7), .join-form label:nth-child(8), .join-form input[type="submit"] {
        grid-column: 1 / -1;
    }

}