@media (min-width: 1024px) {
    #menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        background-color: var(--secondary-color);
        padding: 0rem 1rem 1rem 1rem;
        background-color: var(--primary-color);
    }

    .nav-menu a {
        width: 100%;
        text-align: center;
    }

    .title {
        font-size: xx-large;
    }

    .sections {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 1rem;
        margin-right: 1.5rem;
    }
    
    .contact-info {
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-info h3 {
        grid-column: 1/3;
    }

    #members-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-card {
        text-align: left;
    }

    .member-card img {
        height: 140px;
    }

    .view-buttons {
        justify-content: center;
    }
}