* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    --primary-color: #003366;
    --secondary-color: #F5B700;
    --backgroung-color: #F9FAFB;
    --text-color: #1E1E1E;
}